<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listners>
		<listner class-name="crmframework.crmAutomation.TestListeners" />
	</listners>
	<test thread-count="5" name="Test">
		<classes>
			<class name="crmframework.crmAutomation.AccountPageTest" />
			<methods>
		<!-- 		<include name="TS001_VerifyHomePageTest"/>
          <include name="TS015_VerifyStateAndRegionInGridTest"/>
          <include name="TS016_VerifyNamePhoneCityInGridTest"/> -->
			</methods>
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->